@use "../../scss/mixins";
@use "../../scss/variables";


/*================================
  Discover section
  ================================*/
.discover-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.discover-header {
  @include mixins.innerPageWidthHeigh;
  padding: 93px 200px 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  .discover-text {
    @include mixins.FlexCenterColumn;

    .discover-title {
      @include mixins.title-h2;
    }

    .discover-paragraph {
      line-height: 1.6;
      padding-bottom: 60px;
    }

    .discover-btns {
      display: flex;
      gap: 20px;

      .btn-btndiscover {
        border: none;
        border-radius: 18px;
        background-color: variables.$faded-purple;
        cursor: pointer;
        transition: all ease 0.8s;

        & a {
          width: 180px;
          padding: 20px 0;
          font-size: 1.375rem;
          color: variables.$white-color;
          @include mixins.displayCenter-center;
        }

        &:hover {
          background-color: variables.$faded-darkpurple;
        }
      }
    }
  }
  .discover-image {
    background-color: lightgray;
    border-radius: 50px;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50px;
      pointer-events: none;
    }
  }
}


/*================================
  Stylish Eamil section
  ================================*/
.stylish-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$light-yellow;
}

.stylish-content {
  @include mixins.innerPageWidthHeigh;
  @include mixins.FlexAlignColumn;
}

