@use "../../scss/mixins";
@use "../../scss/variables";

.clothes-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.clothes-content {
  @include mixins.innerPageWidthHeigh;

  .clothes-links {
    max-width: auto;
    padding: 20px 0 20px 40px;

    .links-links {
      font-weight: 100;
      letter-spacing: 1.1px;
      @include mixins.displayAlign-center;

      .crumb {
        display: flex;
        align-items: center;

        .arrow-crumb {
          margin: 0 5px;
        }

        &:last-child {
          .arrow-crumb {
            display: none;
          }
          .crumb-link {
            color: variables.$faded-darkpurple;
            font-weight: bold;
          }
        }

        .crumb-link {
          color: variables.$grayish-color;
        }
      }
    }
  }

  .settingsAndPage-container {
    width: 100%;
    height: auto;
    //background-color: lightgreen;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 20px;
    padding: 20px 0 260px 20px;

    .settings-container {
      //background-color: variables.$white-color;
      width: 280px;
      height: auto;

      .sidebar-clothes-page {
        padding: 25px 0 80px 30px;
        //background-color: blue;

        .clothes-ul {
          .clothes-li {
            list-style-type: none;
            line-height: 1.9;
            letter-spacing: 1.1px;

            &:nth-child(n + 2) {
              margin-left: 20px;
            }

            a {
              color: variables.$grayish-color;
              position: relative;

              &::after {
                @include mixins.afterContent(variables.$red-color);
              }
              &:hover::after {
                @include mixins.hoverAfterTransform;
              }
              &.activeLink {
                background-color: variables.$red-color;
                color: variables.$white-color;
              }
              &.activeSideLink {
                color: variables.$red-color;
              }
            }
          }
        }
      }

      .filter-container {
        //background-color: red;
        padding: 0 20px 80px;

        .filter-btn-btn {
          border: none;
          width: 100%;
          height: 50px;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          background-color: variables.$yellow-yellow;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          font-family: "Nunito";
          font-size: 1.125rem;
          cursor: pointer;
          margin-bottom: 20px;

          &.closed {
            border-radius: 9px;
          }
        }
        .filter-panel-content {
          background-color: variables.$lighter-light-yellow;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          padding: 20px;
          margin-bottom: 20px;

          /*Filter by price*/
          .price-prices {
            //background-color: lightgreen;
            padding: 15px 0 20px;

            .price-input {
              width: 80px;
              height: 45px;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              font-family: "Nunito";
              font-size: 1.125rem;
              padding: 8px;
            }
            .to-price {
              padding: 0 10px;
            }
          }
          .filter-slider {
            padding-bottom: 20px;

            .filter-price-slider {
              width: 100%;
              height: 15px;
              appearance: none;
              background-color: variables.$bck-hover1;
              outline: none;
              opacity: 0.7;
              -webkit-transition: 0.7s;
              transition: opacity 0.7s;
              border-radius: 22px;

              &::-webkit-slider-thumb {
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: variables.$dark-purple;
                cursor: pointer;
                transition: all ease 0.8s;
              }

              &:hover {
                opacity: 1;
              }
            }
          }

          /* filter by tailor*/
          .panel-search {
            //background-color: red;
            padding-bottom: 20px;

            .panel-search-input {
              width: 100%;
              height: 45px;
              font-size: 1.125rem;
              padding-left: 8px;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              margin-bottom: 10px;
            }

            .panel-list-results {
              //background-color: lightblue;
              height: 200px;
              line-height: 2.5;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              overflow-y: scroll;

              .panel-list {
                list-style-type: none;
                //border: solid .8px variables.$faded-purple;
                background-color: variables.$white-color;
                padding-left: 8px;
              }
            }
          }
          /*filter by size*/
          .panel-filter-size {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 20px;

            .size-btns {
              width: 100%;
              height: 45px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 8px;
              padding: 0 8px;
              background-color: variables.$white-color;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              cursor: pointer;
              font-family: "Nunito";
              font-size: 1.125rem;
            }
          }

          .filter-btns {
            display: flex;
            gap: 20px;

            .add-remove-btn {
              width: 100px;
              height: 45px;
              background-color: variables.$faded-purple;
              border: none;
              border-radius: 8px;
              color: variables.$white-color;
              font-size: 18px;
              cursor: pointer;
            }
          }
        }
        .icon-rotate {
          transform: rotate(180deg);
          transition: all ease 0.5s;
        }
      }
    }
    .page-pagination-container {
      display: flex;
      flex-direction: column;

      .page-pagination-content {
        .page-pagination-one-page {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 20px;
          padding: 0 30px 60px;
        }

        .page-pagination-product {
          //background-color: lightslategray;
          position: relative;
          margin-bottom: 140px;
          position: relative;
          cursor: pointer;

          .page-like {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            @include mixins.displayCenter-center;

            .page-like-icon {
              color: variables.$white-color;

              &.active-icon {
                color: variables.$red-color;
              }
            }
          }
          .page-pagination-image {
            width: 100%;
            height: 400px;
            background-image: linear-gradient(
              25deg,
              hsla(312, 46%, 89%, 0.37) 0%,
              hsla(6, 100%, 88%, 0.335) 50%,
              hsla(40, 94%, 74%, 0.259) 100%
            );
            border-radius: 25px;
            //transition: all ease 0.8s;

            img {
              width: 100%;
              height: 100%;
              background-size: cover;
              object-fit: cover;
              border-radius: 25px;
              pointer-events: none;
            }
          }
          .page-pagination-text {
            height: 220px;
            height: auto;
            background-color: variables.$bck-yellow;
            //background-color: lightgreen;
            padding: 20px 22px;
            line-height: 1.6;
            position: absolute;
            top: 400px;
            left: 0;
            width: 100%;
            //transition: all ease .8s;
            z-index: 1;

            .pagination-text-H6 {
              font-family: "Oswald";
              font-size: 22px;
              font-weight: 100;
              letter-spacing: 0.5px;
            }
            .pagination-text-price {
              font-size: 22px;
              font-weight: bold;
            }

            .pagination-hidden-info {
              display: none;
              transition: all ease 0.8s;

              .pagination-text-size {
                .pagination-text-span {
                  font-weight: 600;
                  color: variables.$light-grayish-color;
                }
                padding-bottom: 20px;
              }
              .pagination-product-btn {
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                margin-top: 10px;
                background-color: variables.$faded-purple;
                color: variables.$white-color;
                transition: all ease 0.8s;
                @include mixins.displayCenter-center;
                gap: 15px;
                transition: all ease 0.8s;

                &:hover {
                  background-color: variables.$faded-darkpurple;
                }
              }
            }
          }
          &:hover {
            .page-pagination-text {
              top: 292px;
            }
            .page-pagination-image {
              border-radius: 0;
            }
            .pagination-hidden-info {
              display: block;
            }
          }
        }
      }
      .page-pagination-btns {
        width: 100%;
        @include mixins.displayCenter-center;
        gap: 15px;
        margin-bottom: 160px;

        .pagination-btn-btn {
          width: 10%;
          height: 66px;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          background-color: variables.$faded-purple;
          color: variables.$white-color;
          font-size: 1.25rem;
          font-weight: 600;
          transition: all ease 0.8s;

          &:hover {
            background-color: variables.$faded-darkpurple;
          }
          &.prev,
          &.next {
            cursor: not-allowed;
            background-color: variables.$ultra-light-purple;
          }
        }
        .page-btn-container {
          @include mixins.displayAlign-center;
          gap: 12px;
          .page-bnts-btns {
            border: none;
            font-size: 28px;
            background-color: transparent;
            cursor: pointer;
            background-color: variables.$ultra-light-purple;
            color: variables.$grayish-color;
            width: 44px;
            height: 44px;
            border-radius: 10px;
            transition: all ease 0.8s;

            &:hover {
              background-color: variables.$faded-purple;
              color: variables.$white-color;
            }

            &.activePage {
              background-color: variables.$red-color;
              color: variables.$white-color;
              width: 54px;
              height: 54px;
            }
          }
        }
      }
    }
  }
}
