@use "../../scss/mixins";
@use "../../scss/variables";

.header-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;

  .header-header {
    @include mixins.innerPageWidthHeigh;
  }
}

.sliders-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 100px 0 100px;
  //background-color: red;

  .slide-text {
    color: variables.$super-darkpurple;
    .header-titleH1 {
      line-height: 1.2;
      font-size: 60px;
    }
    .header-titleH3 {
      font-family: "Oswald";
      font-size: 50px;
      font-weight: 100;
      padding-top: 15px;
    }
  }
  .slider-slider-content {
    background: linear-gradient(
        219deg,
        variables.$gradient-yellow,
        variables.$gradient-gold
      );
    margin: 0 auto;
    width: 37vw;
    height: 500px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 50px;

    .slide-images {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
  
      img {
        width: 66%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50px;
        pointer-events: none;
        
      }

      &.activeSlide {
        opacity: 1;
        transform: translateX(0);
      }
      &.lastSlide {
        transform: translateX(-100%);
      }
      &.nextSlide {
        transform: translateX(100%);
      }
    }
  }
  
}

.btns-container {
  padding: 20px 100px 80px 0;
  @include mixins.flexJustifyEnd;
  gap: 10px;

  .btns-btns {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: variables.$light-purple;
    cursor: pointer;
    @include mixins.displayCenter-center;
    transition: all ease 0.8s;

    &:hover {
      background-color: variables.$dark-purple;
    }
  }
}
