@use "../../scss/variables";
@use "../../scss/mixins";

.cartpage-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.cart-items-numbers {
  @include mixins.innerPageWidthHeigh;
  padding: 80px 0 60px 60px;
}

.cart-header {
  @include mixins.innerPageWidthHeigh;
  background-color: red;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 0 60px;

  .cartpage-articles-container {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 40px;

    .articles-content {
      display: flex;
      gap: 40px;
      background-color: hsl(0, 0%, 100%);
      padding: 15px;
      margin-bottom: 15px;

      .article-image-container {
        min-width: 120px;
        height: 120px;
        background-color: #efefef;
        border-radius: 22px;

        & img {
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
          object-position: top;
        }
      }
      .article-infos-container {
        width: 100%;

        .article-articles {
          display: flex;
          justify-content: space-between;
        }

        .article-infos-price {
          display: flex;
          justify-content: space-between;
          margin-top: 18px;

          .article-delete-moveto {
            display: flex;
            gap: 20px;

            & > * {
              cursor: pointer;
            }
          }
          .article-total-price {
            font-weight: 700;
          }
        }
      }
    }
  }
  .cartpage-total-container {
    display: flex;
    justify-content: center;

    .checkout-product-content {
      background-color: #fff;
      width: 400px;
      height: 300px;
      border-radius: 22px;
      padding: 20px;

      .checkout-h3 {
        font-weight: bold;
        padding-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: space-between;

        & p {
          padding-bottom: 20px;

          .total-bold {
            font-weight: 700;
          }
          .checkoout-tax {
            font-size: 0.85rem;
            font-weight: 100;
          }
        }
        .price-checkout {
          font-weight: 700;
        }
      }

      .checkout-btn {
        padding: 14px 135px;
        font-size: 1.3rem;
        border: none;
        border-radius: 9px;
        margin-top: 20px;
        background-color: hsl(266, 82%, 15%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
      }
    }
  }
}
