@use "../../scss/variables";
@use "../../scss/mixins";


.cartpage-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.cart-items-numbers {
  @include mixins.innerPageWidthHeigh;
  padding: 80px 0 60px 60px;
}

.cart-header {
  @include mixins.innerPageWidthHeigh;
  background-color: red;

  

}