@use "../../scss/variables";
@use "../../scss/mixins";

.cartpage-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.cart-items-numbers {
  @include mixins.innerPageWidthHeigh;
  padding: 80px 0 60px 60px;

  &.hidden-number {
    visibility: hidden;
  }
}

.cart-header {
  @include mixins.innerPageWidthHeigh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 0 60px 160px;

  .cartpage-articles-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 22px;
    padding: 40px;
    box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;

    .articles-content {
      display: flex;
      gap: 40px;
      background-color: hsl(0, 0%, 100%);
      padding: 15px;
      margin-bottom: 15px;

      .article-image-container {
        min-width: 120px;
        height: 120px;
        background-color: #efefef;
        border-radius: 22px;

        & img {
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
          object-position: top;
        }
      }
      .article-infos-container {
        width: 100%;

        .article-articles {
          display: flex;
          justify-content: space-between;
        }

        .article-infos-price {
          display: flex;
          justify-content: space-between;
          margin-top: 18px;

          .article-delete-moveto {
            display: flex;
            gap: 20px;

            & > * {
              cursor: pointer;
            }
          }
          .article-total-price {
            font-weight: 700;
          }
        }
        .article-section-container {
          position: relative;

          .select-select-content {
            .select-button {
              width: 100px;
              height: 60px;
              border: solid 0.8px hsl(268, 73%, 43%);
              border-radius: 22px;
              font-size: 1.188rem;
              padding: 0 15px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: hsl(0, 0%, 100%);
            }
            .article-quantity-container {
              background-color: hsl(0, 0%, 100%);
              position: absolute;
              top: 62px;
              width: 100%;
              height: 200px;
                overflow-y: scroll;
              border-radius: 22px;
              z-index: 2;
              //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; //remove the bck

              li {
                list-style-type: none;
              }

              &.isActiveWithBorder {
                border: solid 0.8px hsl(268, 73%, 43%);
              }

              .article-qty {
                background-color: hsl(0, 0%, 100%);
                padding: 15px;
                text-align: center;
                cursor: pointer;

                &:nth-child(1) {
                  border-top-left-radius: 22px;
                  border-top-right-radius: 22px;
                }
                &:nth-last-child(1) {
                  border-bottom-left-radius: 22px;
                  border-bottom-right-radius: 22px;
                }
                &:hover {
                  background-color: #f5f5f5;
                }
              }
            }
          }
        }
      }
    }
    .articles-items-infos {
      border-top: solid 0.8px hsl(268, 73%, 43%);
      padding: 20px 0 0;
      margin-top: 50px;

      & > * {
        font-size: 0.95rem;
      }
    }
  }
  .cartpage-total-container {
    display: flex;
    justify-content: center;

    .checkout-product-content {
      background-color: hsl(0, 0%, 100%);
      width: 400px;
      height: 300px;
      border-radius: 22px;
      padding: 20px;
      box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;

      .checkout-h3 {
        font-weight: bold;
        padding-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: space-between;

        & p {
          padding-bottom: 20px;

          .total-bold {
            font-weight: 700;
          }
          .checkoout-tax {
            font-size: 0.85rem;
            font-weight: 100;
          }
        }
        .price-checkout {
          font-weight: 700;
        }
      }

      .checkout-btn {
        padding: 14px 135px;
        font-size: 1.3rem;
        border: none;
        border-radius: 9px;
        margin-top: 20px;
        background-color: hsl(266, 82%, 15%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
      }
    }
  }
}

