@use "../../scss/mixins";
@use "../../scss/variables";

.form-titleH2 {
  @include mixins.title-h2;
  padding-top: 90px;
  color: variables.$dark-purple;
}

.form-titleH3 {
  @include mixins.form-title-h3(variables.$grayish-color);
}

.form-container {
  @include mixins.form-container;

  .form-inputEmail {
    @include mixins.input-email;
  }
  input[type="email"] {
    @include mixins.input-type;

    &:focus {
      @include mixins.input-focus;
    }
  }

  .config-H4 {
    font-weight: bolder;
    color: variables.$dark-purple;
    padding-bottom: 15px;
  }

  .radio-group {
    @include mixins.displayAlign-center;
    gap: 18px;
    padding-bottom: 30px;

    .radio-options {
      @include mixins.displayFlex;
      gap: 5px;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
    .style-checked {
      color: variables.$light-purple;
    }
  }

  .subscribe-btn {
    @include mixins.form-btn-btns;

    &:hover {
      background-color: variables.$dark-purple;
    }
  }

  .small-text {
    font-size: 9px;
  }
}
