@use "../../scss/variables";
@use "../../scss/mixins";

.navbar-container {
  background-color: variables.$bck-yellow;
  @include mixins.displaySpace-around;
  font-family: "Nunito";
  z-index: 2000;
}

.logo {
  background-color: lightgreen;
  cursor: pointer;
}

.nav-content {
  @include mixins.displaySpace-between;
  flex-grow: 0.8;

  .category-container {
    background-color: transparent;

    .btn-btn {
      background-color: variables.$bck-hover1;
      color: variables.$grayish-color;
      width: 115px;
      height: 0px;
      padding: 22px 10px;
      margin: 3px 0;
      @include mixins.displayCenter-center;
      cursor: pointer;
      border-radius: 29px;
      font-weight: bolder;
      border: none;

      .selected-category {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 1rem;
        @include mixins.displayAlign-center;
        gap: 5px;
      }
    }
  }
  .listcategory-options {
    background-color: variables.$bck-yellow;
    @include mixins.listStyleType;
    position: absolute;
    top: 55px;
    width: 110px;
    line-height: 1.9;
    cursor: pointer;
    font-family: "Nunito";
    border: solid 0.5px variables.$dark-purple;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 500;

    .category-option {
      padding: 10px;
      color: variables.$grayish-color;

      &.activeCategory {
        background-color: variables.$red-color;
        color: variables.$white-color;

        &:hover {
          background-color: variables.$red-color;
        }
      }

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: variables.$bck-hover1;
      }
    }
  }

  .linknav-container {
    //position: relative;
    @include mixins.displayFlexEndCenter;
    flex-grow: 0.7;
  }

  .section-uls-list {
    @include mixins.displayFlexEndCenter;
    gap: 12px;
    position: relative;

    .uls-dropdown {
      .list-li {
        @include mixins.listStyleType;

        .list-a {
          text-decoration: none;
          color: variables.$grayish-color;
          padding: 12.5px 10px;
          position: relative;

          &::after {
            @include mixins.afterContent(variables.$red-color);
          }
          &:hover::after {
            @include mixins.hoverAfterTransform;
          }

          &.activeLink {
            background-color: variables.$red-color;
            color: variables.$white-color;
          }
        }
      }
      .dropdown-container {
        position: absolute;
        top: 37px;
        right: -40px;
        background-color: variables.$bck-yellow;
        width: 420px;
        height: auto;
        @include mixins.displayFlex;
        gap: 30px;
        padding: 12px;
        display: none;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        border-left: solid 0.5px hsl(265deg, 71%, 40%);
        border-right: solid 0.5px hsl(265deg, 71%, 40%);
        border-bottom: solid 0.5px hsl(265deg, 71%, 40%);
        z-index: 800;

        &.isHovered {
          @include mixins.displayFlex;
        }

        .dropdown-ul-content {
          .dropdown-li {
            @include mixins.listStyleType;
            line-height: 1.9;
            padding-left: 2px;
            margin-bottom: 5px;
            position: relative;

            a {
              color: variables.$grayish-color;
              position: relative;

              &::after {
                @include mixins.afterContent(variables.$red-color);
              }
              &:hover::after {
                @include mixins.hoverAfterTransform;
              }

              &.activeLink {
                color: variables.$red-color;
              }
            }
          }
        }
        .link-image-content {
          width: 100%;
          border-radius: 22px;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
            object-position: top;
            border-radius: 22px;
            pointer-events: none;
          }
        }
      }
    }
  }

  .fav-cart-user {
    @include mixins.displaySpace-around;
    gap: 22px;

    .favorites-container {
      @include mixins.displayFlex;
      position: relative;

      .favorites-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          -2px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
    }

    .carts-container {
      @include mixins.displayFlex;
      position: relative;

      &.isActive {
        //border-top: solid 0.4px hsl(265, 71%, 40%);
        //border-right: solid 0.4px hsl(265, 71%, 40%);
        //border-left: solid 0.4px hsl(265, 71%, 40%);
      }

      .cart-cart-shopping-icon {
        height: 49.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        z-index: 3;
        cursor: pointer;
      }

      .cart-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          6.8px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
      .cart-content {
        position: absolute;
        top: 49px;
        left: -299.5px;
        background-color: hsl(0, 0%, 100%);
        width: 340px;
        height: auto;
        z-index: 1;
        border-top: solid 0.4px hsl(265, 71%, 40%);
        border-left: solid 0.4px hsl(265, 71%, 40%);
        border-right: solid 0.4px hsl(265, 71%, 40%);
        border-bottom: solid 0.4px hsl(265, 71%, 40%);
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        padding-bottom: 10px;
        display: none;

        &.isVisible {
          display: block;
        }

        .cart-heading-4 {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &::after {
            content: "";
            width: 100px;
            height: 2px;
            background-color: hsl(305deg, 27%, 47%);
            margin: 10px 0 15px;
          }
        }
        .cart-articles-container {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 8px;

          .cart-cart-articles {
            height: 180px;
            overflow-y: scroll;
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
              display: none;
          }
          }
          .cart-article-content {
            background-color: hsl(0, 0%, 96%);
            display: flex;
            gap: 20px;
            padding: 10px;
            margin-bottom: 10px;

            .cart-image-content {
              min-width: 85px;
              height: 85px;
              background-color: hsl(0, 0%, 89%);
              border-radius: 9px;

              img {
                width: 100%;
                height: 100%;
                background-size: cover;
                object-fit: cover;
                border-radius: 9px;
              }
            }
            .cart-infos-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;

              div {
                .cart-p {
                  font-size: 0.9375rem;
                }
              }
              .cart-price {
                display: flex;
                align-items: center;
              }

              .cart-functionality {
                display: flex;
                gap: 10px;
                padding-top: 6px;
              }
            }
          }
          .cart-cart-empty {
            display: flex;
            justify-content: center;
            height: 100px;
          }

          .cart-total-cart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            display: none;

            &.is-cart-visible {
              display: flex;
            }
          }

          .cart-btn-btn {
            padding: 20px;
            font-size: 1.125rem;
            font-weight: 700;
            margin-top: 20px;
            border: none;
            border-radius: 9px;
            background-color: hsl(266, 82%, 15%);
            color: hsl(0, 0%, 100%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
