@use "../../scss/mixins";
@use "../../scss/variables";

.clothes-container {
  @include mixins.pageWidthHeight;
  background-color: variables.$bck-yellow;
}

.clothes-content {
  @include mixins.innerPageWidthHeigh;

  .clothes-links {
    padding: 20px 0 20px 40px;

    .links-links {
      font-weight: 100;
      letter-spacing: 1.1px;
      @include mixins.displayAlign-center;
      cursor: pointer;

      a {
        color: variables.$grayish-color;
      }

      & .active > * {
        font-weight: bold;
        color: variables.$faded-darkpurple;
      }
    }
  }

  .settingsAndPage-container {
    width: 100%;
    height: auto;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 20px;
    padding: 20px 0 160px 20px;

    .settings-container {
      background-color: variables.$white-color;
      width: 280px;
      height: auto;
      border-radius: 18px;

      .sidebar-clothes-page {
        padding: 25px 0 80px 30px;
        //background-color: blue;

        .clothes-ul {
          .clothes-li {
            list-style-type: none;
            line-height: 1.9;
            letter-spacing: 1.1px;

            &:nth-child(n + 2) {
              margin-left: 20px;
            }

            a {
              color: variables.$grayish-color;
              position: relative;

              &::after {
                @include mixins.afterContent(variables.$red-color);
              }
              &:hover::after {
                @include mixins.hoverAfterTransform;
              }
              &.activeLink {
                background-color: variables.$red-color;
                color: variables.$white-color;
              }
            }
          }
        }
      }

      .filter-container {
        //background-color: red;
        padding: 0 20px 80px;

        .filter-btn-btn {
          border: none;
          width: 100%;
          height: 50px;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          background-color: variables.$light-yellow;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          font-family: "Nunito";
          font-size: 1.125rem;
          cursor: pointer;
          margin-bottom: 20px;

          &.closed {
            border-radius: 12px;
          }
        }
        .filter-panel-content {
          background-color: variables.$lighter-light-yellow;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          padding: 20px;
          margin-bottom: 20px;

/*Filter by price*/
          .price-prices {
            //background-color: lightgreen;
            padding: 15px 0 20px;

            .price-input {
              width: 80px;
              height: 45px;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              font-family: "Nunito";
              font-size: 1.125rem;
              padding: 8px;
            }
            .to-price {
              padding: 0 10px;
            }
          }
          .filter-slider {
            padding-bottom: 20px;

            .filter-price-slider {
              width: 100%;
              height: 15px;
              appearance: none;
              background-color: variables.$bck-hover1;
              outline: none;
              opacity: 0.7;
              -webkit-transition: 0.7s;
              transition: opacity 0.7s;
              border-radius: 22px;

              &::-webkit-slider-thumb {
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: variables.$dark-purple;
                cursor: pointer;
                transition: all ease 0.8s ;
                
              }

              &:hover {
                opacity: 1;
              }
            }
          }

/* filter by tailor*/
          .panel-search {
            //background-color: red;
            padding-bottom: 20px;

            .panel-search-input {
              width: 100%;
              height: 45px;
              font-size: 1.125rem;
              padding-left: 8px;
              border: solid 0.8px variables.$faded-purple;
              border-radius: 8px;
              margin-bottom: 10px;
            }

            .panel-list-results {
              //background-color: lightblue;
              height: 200px;
              line-height: 2.5;
              border: solid .8px variables.$faded-purple;
              border-radius: 8px;
              overflow-y: scroll;

              .panel-list {
                list-style-type: none;
                //border: solid .8px variables.$faded-purple;
                background-color: variables.$white-color;
                padding-left: 8px;
                

                //&:nth-child(1) {
                //  border-top-left-radius: 8px;
                //  border-top-right-radius: 8px;
                //}
                //&:nth-child(n+2) {
                //  border-top: none;
                //}
                //&:nth-child(4) {
                //  border-bottom-left-radius: 8px;
                //  border-bottom-right-radius: 8px;
                //}
              }
            }
          }
/*filter by size*/
          .panel-filter-size {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 20px;

            .size-btns {
              width: 100%;
              height: 45px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 8px;
              padding: 0 8px;
              background-color: variables.$white-color;
              border: solid .8px variables.$faded-purple;
              border-radius: 8px;
              cursor: pointer;
              font-family: "Nunito";
              font-size: 1.125rem;
            }
          }

          .filter-btns {
            display: flex;
            gap: 20px;

            .add-remove-btn {
              width: 100px;
              height: 45px;
              background-color: variables.$faded-purple;
              border: none;
              border-radius: 8px;
              color: variables.$white-color;
              font-size: 18px;
              cursor: pointer;
            }
          }
        }
        .icon-rotate {
          transform: rotate(180deg);
          transition: all ease 0.5s;
        }
      }
    }
    .page-pagination-container {
      background-color: lightgrey;
    }
  }
}
