@use "../../scss/mixins";
@use "../../scss/variables";

footer {
  max-width: 100vw;
  background-color:#762EDC; //#823FDE
  color: variables.$white-color;

  .footer-container {
    max-width: 1440px;
    margin: 0 auto;

    .footer-nav {
      @include mixins.displayFlex;
      gap: 50px;
      padding: 100px 0 80px 160px;

      .ul-links {
        li {
          @include mixins.listStyleType;
          line-height: 2.2;

          a {
            color: variables.$white-color;
            padding-bottom: 5px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: variables.$white-color;
              left: 0;
              bottom: 0;
              transform: scale(0, 1);
              transform-origin: 0% 100%;
              transition: all ease 0.8s;
            }
            &:hover::after {
              transform: scale(1, 1);
            }
          }
        }
      }
    }
    .footer-copyrigth {
      padding: 0 0 40px;
      @include mixins.displayJustify-center;
    }
  }
}
