@use "../scss/variables";


/*==================================
  display flex
  ==================================*/
@mixin displayFlex {
  display: flex;
}
/*==================================
  display space around
  ==================================*/
@mixin displaySpace-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*==================================
  display space between
  ==================================*/
@mixin displaySpace-between {
  display: flex;
  justify-content: space-between;
}

/*==================================
  display space center center
  ==================================*/
@mixin displayCenter-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==================================
  display align center
  ==================================*/
@mixin displayAlign-center {
  display: flex;
  align-items: center;
}
/*==================================
  display justify center
  ==================================*/
@mixin displayJustify-center {
  display: flex;
  justify-content: center;
}

/*==================================
  list-style-type
  ==================================*/
@mixin listStyleType {
  list-style-type: none;
}

/*==================================
  display flex end center
  ==================================*/
@mixin displayFlexEndCenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*==================================
  display flex center column
  ==================================*/
@mixin FlexCenterColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@mixin FlexAlignColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*==================================
  count favorites + product in cart
  ==================================*/
@mixin countProduct(
  $background-color,
  $width,
  $height,
  $border-radius,
  $position: absolute,
  $top,
  $left,
  $font-size,
  $padding
) {
  background-color: $background-color;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  position: $position;
  top: $top;
  left: $left;
  font-size: $font-size;
  padding: $padding;
}

/*==================================
  Title h2
  ==================================*/
@mixin title-h2 {
  font-size: 48px;
  padding: 0 0 20px;
  color: variables.$super-darkpurple;
}


/*==================================
  Width and height page
  ==================================*/
@mixin pageWidthHeight {
  max-width: 100vw;
  height: auto;
  
}

/*==================================
  Inner page width and height
  ==================================*/
@mixin innerPageWidthHeigh {
  max-width: 1440px;
  height: auto;//93vh;
  margin: 0 auto;
  background-color: transparent;
}