/*==================================
  Colors
  ==================================*/

$white-color: hsl(0, 0%, 100%);

$bck-yellow: hsl(48, 100%, 99%);
$lighter-light-yellow: #FFFDF8;;
$light-yellow: hsl(40, 94%, 74%);
$yellow-listbox: hsl(40, 95%, 59%);
$gradient-yellow: hsl(43, 95%, 61%) 0%;
$gradient-gold: hsl(35, 86%, 54%) 100%;
$gradient-light-yellow: hsla(43, 95%, 61%, 0.15) 0%;
$gradient-gold-yellow: hsla(35, 86%, 54%, 0.15) 100%;

$bck-hover1: hsl(267, 73%, 97%);
$faded-purple: hsl(304, 44%, 68%);
$faded-darkpurple: hsl(305, 27%, 47%);
$light-purple: hsl(265, 69%, 59%);
$blue-violet: hsl(265, 71%, 52%);
$dark-purple: hsl(265, 71%, 40%);
$super-darkpurple: #220746;

$grayish-color: hsl(0, 0%, 22%);
$red-color: hsl(6, 90%, 61%);
