/*==================================
  Colors
  ==================================*/

$white-color: hsl(0, 0%, 100%);
$bck-yellow: hsl(43, 100%, 99%);
$light-yellow: hsl(40, 94%, 74%);
$yellow-listbox: hsl(40, 95%, 59%);
$bck-hover1: hsl(267, 73%, 97%);
$faded-purple: hsl(304, 44%, 68%);
$faded-darkpurple: hsl(305, 27%, 47%);
$light-purple: hsl(265, 69%, 59%);
$dark-purple: hsl(265, 71%, 40%);
$super-darkpurple: #220746;
$grayish-color: hsl(0, 0%, 22%);
$red-color: hsl(6, 90%, 61%);
