@use "../../scss/mixins";
@use "../../scss/variables";

.fixedimg-container {
  @include mixins.pageWidthHeight;
  position: relative;

  .fixedimg-content {
    width: 100%;
    height: 400px;
    background-image: url("../../assets/bck-store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
