@use "../../scss/variables";
@use "../../scss/mixins";

.navbar-container {
  background-color: variables.$bck-yellow;
  @include mixins.displaySpace-around;
  font-family: "Nunito";
  z-index: 2000;
}

.logo {
  background-color: lightgreen;
  cursor: pointer;
}

.nav-content {
  @include mixins.displaySpace-between;
  flex-grow: 0.8;

  .category-container {
    background-color: transparent;

    .btn-btn {
      background-color: variables.$bck-hover1;
      color: variables.$grayish-color;
      width: 115px;
      height: 0px;
      padding: 22px 10px;
      margin: 3px 0;
      @include mixins.displayCenter-center;
      cursor: pointer;
      border-radius: 29px;
      font-weight: bolder;
      border: none;

      .selected-category {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 1rem;
        @include mixins.displayAlign-center;
        gap: 5px;
      }
    }
  }
  .listcategory-options {
    background-color: variables.$bck-yellow;
    @include mixins.listStyleType;
    position: absolute;
    top: 55px;
    width: 110px;
    line-height: 1.9;
    cursor: pointer;
    font-family: "Nunito";
    border: solid 0.5px variables.$dark-purple;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 500;

    .category-option {
      padding: 10px;
      color: variables.$grayish-color;

      &.activeCategory {
        background-color: variables.$red-color;
        color: variables.$white-color;

        &:hover {
          background-color: variables.$red-color;
        }
      }

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: variables.$bck-hover1;
      }
    }
  }

  .uls-list {
    @include mixins.displayFlexEndCenter;
    flex-grow: 0.4;
    font-family: "Nunito";
    gap: 10px;
    position: relative;

    .btn-btn-menu {
      border: none;
      background-color: transparent;
      font-family: "Nunito";
      font-size: 1.125rem;
      @include mixins.displayAlign-center;
      cursor: pointer;

      li {
        @include mixins.listStyleType;
        .li-a {
          text-decoration: none;
          color: variables.$grayish-color;
          padding: 12.5px 10px;
          position: relative;

          &::after {
            @include mixins.afterContent(variables.$red-color);
          }
          &:hover::after {
            @include mixins.hoverAfterTransform;
          }

          &.activeLink {
            background-color: variables.$red-color;
            color: variables.$white-color;
          }
        }
      }
    }
    .menu-items {
      background-color: variables.$bck-yellow;
      position: absolute;
      top: 50px;
      left: 309px;
      @include mixins.displayFlex;
      gap: 20px;
      line-height: 1.9;
      padding: 15px;
      box-shadow: 0px 2px 2px 1px hsla(0, 0%, 0%, 0.12);

      .menu-item {
        @include mixins.displayFlex;
        flex-direction: column;
        

        .nav-link-item {
          color: variables.$grayish-color;
          padding: 8px;
          cursor: pointer;

          &.active-item {
            color: variables.$red-color;
            background-color: variables.$white-color;
          }
        }
      }
    }
    .image-link-container {
      background-color: red;
      border-radius: 22px;

      .image-link-content {
        width: 301.17px;
        height: 301.17px;
        background-color: lightsalmon;
        border-radius: 22px;

        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
          object-position: top;
          border-radius: 22px;
        }

      }

    }
  }

  .fav-cart-user {
    @include mixins.displaySpace-around;
    gap: 18px;

    .favorites-container {
      @include mixins.displayFlex;
      position: relative;

      .favorites-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          -2px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
    }

    .carts-container {
      @include mixins.displayFlex;
      position: relative;

      .cart-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          -2px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
    }
  }
}
