@use "../../scss/variables";
@use "../../scss/mixins";

.navbar-container {
  background-color: variables.$bck-yellow;
  @include mixins.displaySpace-around;
  font-family: "Nunito";
}

.logo {
  background-color: lightgreen;
  cursor: pointer;
}

.nav-content {
  @include mixins.displaySpace-between;
  flex-grow: 0.8;

  .category-container {
    background-color: transparent;
    border: none;

    .btn-btn {
      background-color: variables.$bck-hover1;
      color: variables.$grayish-color;
      width: 100px;
      height: 0px;
      padding: 22px 0;
      margin: 3px 0;
      @include mixins.displayCenter-center;
      cursor: pointer;
      border-radius: 29px;
      font-weight: bolder;

      .selected-category {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 1rem;
        @include mixins.displayAlign-center;
        gap: 5px;
      }
    }
  }
  .listcategory-options {
    background-color: variables.$bck-yellow;
    @include mixins.listStyleType;
    position: absolute;
    top: 55px;
    width: 100px;
    line-height: 1.9;
    cursor: pointer;
    font-family: "Nunito";
    border: solid 0.5px variables.$dark-purple;
    border-radius: 5px;

    .category-option {
      padding: 10px;

      &:nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: variables.$bck-hover1;
      }
    }
  }

  .uls-list {
    @include mixins.displayFlexEndCenter;
    flex-grow: 0.4;
    font-family: "Nunito";
    gap: 10px;

    li {
      @include mixins.listStyleType;
      .li-a {
        text-decoration: none;
        color: variables.$grayish-color;
        padding: 14.1px 10px;
        position: relative;

        &::after {
          @include mixins.afterContent(variables.$red-color);
        }
        &:hover::after {
          @include mixins.hoverAfterTransform;
        }

        &.activeLink {
          background-color: variables.$red-color;
          color: variables.$white-color;
        }
      }
    }
  }

  .fav-cart-user {
    @include mixins.displaySpace-around;
    gap: 18px;

    .favorites-container {
      @include mixins.displayFlex;
      position: relative;

      .favorites-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          -2px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
    }

    .carts-container {
      @include mixins.displayFlex;
      position: relative;

      .cart-count {
        @include mixins.countProduct(
          variables.$light-yellow,
          12px,
          12px,
          50%,
          absolute,
          -2px,
          18px,
          0.75rem,
          11px
        );
        @include mixins.displayCenter-center;
      }
    }
  }
}
